{% extends 'base.html' %}

{% block head %}
<title>Home</title>
<style type="text/css">
	#url-input{
		width: 300px;
		margin-right: 20px;
	}
</style>
{% endblock %}

{% block body %}
<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="row justify-content-center">
	<div class="col-12">
	  <form class="d-flex" action="{{ url_for('submit_url') }}" method="post">
			<div class="form-group mr-2">
			  <input id="url-input" type="text" class="form-control" name="form-control" id="form-control" placeholder="Your URL">
			</div>
			<button id="submit-button" type="submit" class="btn btn-primary">Shorten URL</button>
	  </form>
	</div>
  </div>
</div>
{% endblock %}
