{% extends 'base.html' %}

{% block head %}
<title>Success</title>
{% endblock %}

{% block body %}
<div class="container">
  <!-- Modal for the pop-up message -->
  <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog modal-dialog-centered">
	  <div class="modal-content">
		<div class="modal-body">
		  Your URL has been successfully created.
		</div>
		<div class="modal-footer">
		<form action="{{ url_for('home_page') }}" method='get'>
		  <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
		</form>
		</div>
	  </div>
	</div>
  </div>
</div>

<script>
  // Show the modal on page load
  window.onload = function() {
	var successModal = new bootstrap.Modal(document.getElementById('successModal'));
	successModal.show();

	// Prevent clicks on the backdrop from dismissing the modal
	var backdrop = document.querySelector('.modal-backdrop');
	backdrop.addEventListener('click', function(event) {
	  event.stopPropagation();
	});
  };
</script>
{% endblock %}
